{%extends 'base.html'%}
{% block content %}

<DOCTYPE html>
<html>
<head>
	<title>ASAN Ticket Booking System</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<header>
		<div class="main">
		<div class="logo">
		<!--	<img src="/static/img/logo.png">-->
		</div>
		<ul>
			<li class="active"><a href='#'>Home</a></li>
			<li><a href='#'>PNR status</a></li>
			<li><a href='#'>Transition</a></li>
			<li><a href='#'>About</a></li>
			<li><a href='#'>Contact</a></li>
		</ul>
		</div>
		<div class="title">
			<h1>ASAN Ticket Booking</h1>
		</div>
		<div class="botton">
			<a href="#" class="btn">Book a Ticket</a>
			<a href="#" class="btn">PNR Status</a>
		</div>
	</header>
</body>
</html>
{% endblock %}