*{
	margin:0;
	padding:0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/static/img/train.jpg);  /* maybe /static/train.jpg */
	height:100vh;
	background-size: cover;
	background-position: center;
}
ul{	
	float: right;
	list-style-type: none;
	margin-top: 20px;
	margin-right: 5px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border:3px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: darkorange;
	color: #000;
}
ul li.active a{
	background-color: darkorange;
	color: #000;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size:70px;
}
.botton{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition:0.6s ease;
}
.btn:hover{
	background-color: darkorange;
	color: #000;
}
